{% extends "base.html" %}


{% block content %}
<main class=" container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Gestor de Tareas</h1>
        <H2>Organiza tu vida!</H2>
        <H3>"Cual es el camino? Cual es la respuesta? El Camino es la respuesta!"</H3>
        
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Iniciar sesión
            </a>
            <a class="btn btn-dark" href="/signup/">
                Registrate
            </a>
        </div>
        
    </section>
</main>

{% endblock %}